CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Debug
output/*
.vs
.vscode/*
*.index
*.db
*.xml
*.mp4
*.struct
.idea/*
cmake-build-debug
model/.idea/*
*.log
*.apk
*.marks
